<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/administracion.css">

</head>
<body>
    <header>

        <section class="titulo-header">
            <h1>VETCONT</h1>
        </section>
    
          
        <section class="opciones-header">
            <button id="cerrarSesion">Cerrar Sesion <i class="fa-solid fa-right-from-bracket"></i></button>
        </section>

    </header>
    
    <main>


        <section class="bloque">
            
            <section class="lista-pacientes" id="lista-pacientes">

                <div class="mostrar-lista">
                
                    
                    <div class="tabla scroll" id="tabla">
                        
                        <table class="">
                            <thead>
                                <tr>
                                    <th>Mascota</th>
                                    <th>Propietario</th>
                                    <th>Ultima Consulta</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% datos_pacientes.forEach(dato => { %>
                                    <tr class="linea-tabla">
                                        <td><%= dato.tb_pacientes_col_nombre %></td>
                                        <td><%= dato.tb_propietarios_col_nombre %></td> 
                                        <td><%= new Date(dato.tb_pacientes_col_fechaUltimaConsulta).toLocaleDateString('es-ES') %></td>                                    
                                    </tr>
                                <% }); %>
                               
                            </tbody>
                        </table>
                    
                    </div>
                    

                </div>

            </section>
    
            <section class="tipo-consulta">
    
                <div class="opciones">
                    <button id="mostrarconsultas" class="btn-mostrarconsultas">Consulta General <i class="fa-solid fa-notes-medical"></i></button>
                    <button id="mostrarvacunas" class="btn-mostrarvacunas"> Cosulta Vacunacion <i class="fa-solid fa-syringe"></i></button>
                    <button id="agregarpacientes" class="btn-agregarpacientes" > Agregar Pacientes <i class="fa-solid fa-user-plus"></i></button>
                    <button id="verpacientes" class="btn-verpacientes"> Inspeccionar Pacientes <i class="fa-solid fa-user-gear"></i></button>
                    <button id="verconsultas" class="btn-verconsultas">Consultas Pacientes no Registrados <i class="fa-solid fa-user-slash"></i></button>

                </div>
                <div class="motivo-consulta" id="motivo-consulta">
                
                    <form action="/consultageneral" method="post" autocomplete="off" id="formulario-general">

                        
                        <h1>DATOS CONSULTA GENERAL <i class="fa-solid fa-paste"></i></h1>
                        <div class="propietario">
                            <label for="nombrePropietarioConsulta">Nombre del propietario de la mascota: </label>
                            <input type="text" name="nombrePropietarioConsulta" id="nombrePropietarioConsulta" placeholder="Nombre propietario..." required>
                        </div>
                        <div class="pacientes">
                            <label for="nombrePacienteConsulta">Nombre mascota: </label>
                            <input type="text" name="nombrePacienteConsulta" id="nombrePacienteConsulta" placeholder="Nombre paciente..." required>
                        </div>
                        <div class="descripcion">
                            <label for="motivoConsulta">Motivo de consulta:</label>
                            <input type="text" name="motivoConsulta" id="motivoConsulta" placeholder="Escribe el motivo de la consulta..." required></input>
                        </div>
                        <div class="medicamentos">
                            <label for="medicamentosConsulta">Medicamentos utilizados: </label>
                            <input type="text" name="medicamentosConsulta" id="medicamentosConsulta" placeholder="Escriba los medicamentos utilizados..." required></input>
                        </div>
                        <div class="Peso">
                            <label for="pesoConsultaGeneral">Peso de mascota: </label>
                            <input type="number" name="pesoConsultaGeneral" id="pesoConsultaGeneral" required placeholder="Peso de mascota...">
                        </div>
                        
                        <div class="form-costosGeneral" id="form-costosGeneral">
                            <h3>COSTOS DE CONSULTA GENERAL <i class="fa-solid fa-comments-dollar"></i></h3>
                            <div class="serviosCosoto">
                                <label for="costoServiciosGeneral">Costo por servicios brindados: </label>
                                <input type="number" name="costoServiciosGeneral" id="costoServiciosGeneral" placeholder="Costo de servicios..." step="0.01" required></input>
                            </div>
                            <div class="medicamentosCosto">
                                <label for="costoMedicamentosGeneral">Costo de medicamentos: </label>
                                <input type="number" name="costoMedicamentosGeneral" id="costoMedicamentosGeneral" placeholder="Costo de medicamentos..." required></input>
                            </div>
                            
                            <div class="extrasCosto">
                                <label for="costoExtrasGeneral">Costo extras: </label>
                                <input type="number" name="costoExtrasGeneral" id="costoExtrasGeneral" placeholder="Costo de extras..." required></input>
                            </div>
                            <div class="descripcionCosto">
                                <label for="costoDescripcionVacunacion">Descripción de costos: </label>
                                <input type="text" name="costoDescripcionGeneral" id="costoDescripcionGeneral" placeholder="Añade una descripción ..." required></input>
                            </div>
                            <div class="notas">
                            </div>
                        </div>
                        
                        <div class="boton">
                            <button type="submit" class="btn-guardardatos" id="btn-guardardatos-vacunacion"><i class="fa-solid fa-newspaper"></i> Guardar</button>
                            <button type="button" class="btn-cancelardatos" id="btn-cancelardatos-consulta"><i class="fa-solid fa-newspaper"></i> Limpiar Formulario</button>
                        </div>
                        
                        
                    </form>

                    <form action="/consultavacunacion" method="post" class="formulario-vacunas" id="formulario-vacunas" autocomplete="off">
                        <h1>DATOS CONSULTA VACUNACION Y/O DESPARACITACION <i class="fa-solid fa-syringe"></i></h1>
                        <div class="propietario">
                            <label for="nombrePropietarioConsulta">Nombre del propietario de la mascota: </label>
                            <input type="text" name="nombrePropietarioVacunacion" id="nombrePropietarioVacunacion" placeholder="Nombre de propietario..." required>
                        </div>
                        <div class="paciente">
                            <label for="nombrePacienteVacunacion">Nombre mascota: </label>
                            <input type="text" name="nombrePacienteVacunacion" id="nombrePacienteVacunacion" placeholder="Nombre de paciente..." required>
                        </div>
                        <div class="Peso">
                            <label for="pesoVacunacion">Peso de mascota: </label>
                            <input type="number" name="pesoVacunacion" id="pesoVacunacion" required placeholder="Peso de mascota...">
                        </div>
                        <div class="vacunacion">
                            <div class="vacuna">
                                <label for="nombreInyeccionVacunacion">Programa de vacunación</label>
                                <input type="text" name="nombreInyeccionVacunacion" id="nombreInyeccionVacunacion" placeholder="Nombre de la inyeccion/opcional">
                            </div>
                        </div>
                        <div class="desparacitacion">
                            <div class="vacuna">
                                <label for="nombreInyeccionDesparacitacion">Programa de desparacitación</label>
                                <input type="text" name="nombreInyeccionDesparacitacion" id="nombreInyeccionDesparacitacion" placeholder="Nombre de la inyeccion/opcional" >
                            </div>
                        </div>
                        
                        <div class="form-costosVacunacion" id="form-costosVacunacion">
                            <h3>COSTOS DE CONSULTA VACUNACIÓN <i class="fa-solid fa-comments-dollar"></i></h3>
                            <div class="serviosCostoVacunacion">
                                <label for="costoServiciosVacunacion">Costo por servicios brindados: </label>
                                <input type="number" name="costoServiciosVacunacion" id="costoServiciosVacunacion" placeholder="Costo de servicios..." required></input>
                            </div>
                            <div class="medicamentosCostoVacunacion">
                                <label for="costoMedicamentosVacunacion">Costo de medicamentos: </label>
                                <input type="number" name="costoMedicamentosVacunacion" id="costoMedicamentosVacunacion" placeholder="Costo de medicamentos..."required></input>
                            </div>
                            <div class="extrasCostoVacunacion">
                                <label for="costoExtrasVacunacion">Costo extras: </label>
                                <input type="number" name="costoExtrasVacunacion" id="costoExtrasVacunacion" placeholder="Costo de extras..." required></input>
                            </div>
                            <div class="descripcionCostoVacunacion">
                                <label for="costoDescripcionVacunacion">Descripción de costos: </label>
                                <input type="text" name="costoDescripcionVacunacion" id="costoDescripcionVacunacion" placeholder="Añade una descripción ..." required></input>
                            </div>
                            <div class="notas">
                            </div>
                        </div>

                        <div class="boton">
                            <button type="submit" class="btn-guardardatos" id="btn-guardardatos-vacunacion"><i class="fa-solid fa-newspaper"></i> Guardar</button>
                            <button type="button" class="btn-cancelardatos" id="cancelardatos-vacunacion"><i class="fa-solid fa-newspaper"></i> Limpiar Formulario</button>
                        </div>
                    </form>
                </div>

                
            </section>

        </section>

        <section class="bloque">

            <div class="ultimasConsultas">

                <div class="titulo">
                    <div>
                        <h1>Ultimas consultas</h1>
                        <p>Ultimas 5 consultas registradas</p>
                    </div>
                    <button type="button" class="actualizarConsultas" id="actualizarConsultas">Actualizar <i class="fa-solid fa-arrows-rotate"></i></button>
                </div>


                <div class="tablaConsultas" id="tablaConsultas">
                    <table>
                        <thead>
                            <tr>
                                <th>Mascota</th>
                                <th>Propietario</th>
                                <th>Fecha Consulta</th>
                                <th>Descripción de consulta</th>
                                <th>Costo por servicios</th>
                                <th>Costo Medicamentos</th>
                                <th>Costo Extras</th>
                                <th>Costo Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% datos_consultas.forEach(dato => { %>
                                <tr class="linea-tabla">
                                    <td><%= dato.tb_consultaGeneral_col_nombrePaciente %></td>
                                    <td><%= dato.tb_consultaGeneral_col_nombrePropietario %></td>
                                    <td><%= new Date( dato.tb_consultaGeneral_col_fecha).toLocaleDateString('es-ES') %></td>

                                    <td><%= dato.tb_costosConsultas_col_descripcion %></td>
                                    <td>₡  <%= dato.tb_costosConsultas_col_consultal %></td>
                                    <td>₡  <%= dato.tb_costosConsultas_col_medicamentos %></td>
                                    <td>₡  <%= dato.tb_costosConsultas_col_extras %></td>
                                    <td class="costoConsulta">₡  <%= dato.tb_costosConsultas_col_total %></td>

                                </tr>
                            <% }); %>

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </section>



        

    </main>

    <footer>

    </footer>


    <script src="js/admin_navegacion.js"></script>
    <script src="js/admin_datosTablasMostrar.js"></script>
    <script src="js/main.js"></script>
    <script src="js/admin_AJAX.js"></script>    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/alertas.js"></script>



    
</body>
</html>